<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <h1>Hello, sabhi ko! this is html page</h1>
    <a href="/result">Check Result</a>
    <form action="/get-data" method="post">
        <input  name="Email" placeholder="Enter your email" type="text">
        <input  name="Username" placeholder="Enter your username" type="text">
        <input  name="password" placeholder="Enter password" type="password">
        <button>Submit Form</button>
    </form>
    <a href="/register">Register to the form</a>
</body>

</html>