<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="post">
        <input name="username" placeholder="Enter your Username" type="text">
        <input name="email" placeholder="Enter your Email" type="text">
        <input name="password" placeholder="Enter Password" type="password">
        <button>Register</button>
    </form>
    <a href="/get-users">See all Users</a>
    <a href="/update-user">Updated User</a>
     <a href="/delete-user"> delete user</a>
</body>
</html>